
#stsa{
    display: flex;
    background: var(--bg);
    background-size: 30%;
    overflow: hidden;
}

.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    left: 0;
    width: 400px;
    height: 100vh;
    background-color: var(--solidbg);
    z-index: 1;
    box-shadow: var(--shadow);
    transform: translateX(-87%);
    transition: transform .1s ease;
    animation: menuAnimation 1s;
}

.sidebar.open{
    transform: translateX(0);
    transition: transform .1s ease;
}

#frame{
    position: relative;
    width: auto;
    display: grid;
    justify-content: center;
    padding: 1em;
    z-index: -1;
}

.menu {
    width: 1.5em;
    height: 1.5em;
}

.menubar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: auto;
    height: fit-content;
    transform: translateX(87%);
    transition: transform 0.1s ease;
}

.menubar.open {
    transform: translateX(0);
    transition: transform 0.1s ease;
}

.hamburger {
    background-color: transparent;
    border-style: none;
    border-radius: 20em;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    cursor: pointer;
    z-index: 2;
}

.imenu{
    width: 2em;
    height: 2em;
}

#todoMenu{
    margin-left: 32em;
}

#schedMenu{
    margin-left: 29.8em;
}

#moduleMenu{
    margin-left: 30.3em;
}

#announceMenu{
    margin-left: 25em;
}

#todoDate{
    margin-left: 1.1em;
}

#schedDate{
    margin-left: 1.1em;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40%;
}

.settings{
    display: grid;
    padding: 1em 4em;
    gap: 5px;
}

.supermain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.contact{
    color: black;
    opacity: 50%;
    text-align: center;
    font-size: var(--fs);
    font-weight: var(--mid);
}

.contact:hover{
    opacity: 70%;
    background-color: var(--hc);
}

.subsect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
}
.sections{
    background-color: var(--solidbg);
    border-radius: 3px;
    box-shadow: var(--shadow);
    height: fit-content;
    padding: .5em;
    animation: right-slide 1s ease;
}

.sections:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.feature{
    margin: 0;
    width: fit-content;
    text-align: center;
    height: fit-content;
    font-weight: var(--reg);
    font-size: var(--fs);
    padding: 5px;
}

.add{
    font-size: var(--bfs);
    color: var(--solidbg);
    background-color: var(--bc);
    border-radius: 20em;
    border-width: 0;
}

.add:hover{
    background-color: var(--hc);
}

.add:active{
    background-color: var(--ab);
}

.rmv{
    color: var(--solidbg);
    font-size: var(--bfs);
    background-color: var(--bc);
    border-style: none;
    border-radius: 0 20em 20em 0;
    padding: 0.55em;
    margin-left: -0.2em;
}

.rmv:hover{
    background-color: var(--hc);
}

.rmv:active{
    background-color: var(--ab);
}

.date{
    font-size: var(--fs);
    margin-left: 0.5em;
    border-style: none;
}

.date:focus{
    outline: none;
}

.input{
    margin-left: 5px;
    font-size: var(--bfs);
    background-color: var(--bc);
    border-style: none;
    width: 15em;
    padding: 0.5em;
    border-radius: 0 20em 20em 0;
}

.input:hover{
    background-color: var(--hc)
}

.input:focus{
    outline: none;
}

.input::placeholder{
    color: var(--solidbg);
    opacity: 70%;
}

.subsect2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    animation: left-slide 1s ease;
}

.announce{
    background-color: var(--solidbg);
    height: fit-content;
    border-radius: 3px;
    box-shadow: var(--shadow);
    padding: 0.5em;
}
.subtitle {
    display: flex;
}
.messages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--subcolor);
    height: 80vh;
    width: auto;
    overflow: auto;
    border-radius: 3px;
    padding: 5px;
    gap: 20px;
}

.message{
    display: flex;
    justify-content: center;
    height: auto;
}

#message{
    font-size: 18px;
    background-color: var(--subcolor);
    border-radius: 5px;
    border-style: none;
    padding: 0.5em;
    width: 29em;
    resize: none;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
#message:focus{
    outline: none;
}

.send{
    margin: 0;
    padding: 0.5em;
    width: fit-content;
    background-color: transparent;
    border-style: none;
}

.sendimg{
    width: 2em;
    font-weight: 900;
    opacity: 50%;
}

.sendimg:hover{
    opacity: 100%;
}

.sendimg:active{
    opacity: 50%;
}

.task {
    overflow: auto;
}

.sub{
    background-color: var(--subcolor);
    border-radius: 3px;
    margin-top: 10px;
    overflow: auto;
    height: 8.7vw;
}

.class{
    color: var(--fc);
    background-color: var(--subfc);
    align-self: center;
    width: 10em;
    font-size: var(--fs);
    font-weight: var(--reg);
    border-style: none;
    border-radius: 20em;
    padding: 1em;
}

.class:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    background-color: var(--bc);
}
.class:active{
    background-color: var(--ab);
}

.notif{
    display: flex;
    flex-direction: column;
    background-color: var(--solidbg);
    top: 0;
    right: 0;
    bottom: 5em;
    position: fixed;
    box-shadow: var(--shadow);
    z-index: 1;
    width: 500px;
    height: 100%;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease, max-width 0.2s ease, padding 0.3s ease;
}

.notif.open {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}

.chooser{
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    gap: 10px;
    width: fit-content;
    height: fit-content;
}

.icon {
    background-color: var(--solidbg);
    align-items: center;
    justify-self: center;
    border-style: none;
    height: fit-content;
    width: fit-content;
    border-radius: 10%;
    box-shadow: var(--shadow);
    padding: 5px;
    z-index: 2;
}

.icon:hover{
    transform: scale(1.2);
    transition: transform .03s ease;
}

.op{
    border-radius: 10%;
    width: var(--is);
    height: var(--is);
    position: relative;
    animation: bell-appear 1s ease forwards;
}

.close{
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
}

.op.close{
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    animation: spin 1s ease;
}

.close.open {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    padding: 2px;
    width: var(--is);
    height: var(--is);
    animation: spin 1s ease;
}

#profileIcon{
    z-index: 1;
}

.profIcon{
    align-self: center;
    border-radius: 10%;
    width: var(--is);
    height: var(--is);
    position: relative;
    animation: spin-left-appear 1s ease;
}
#notifTitle{
    font-size: 2em;
    margin: 5px;
}
#notification{
    background-color: var(--subcolor);
    height: 100vh;
    width: auto;
    border-radius: 3px;
    overflow: auto;
}