#login {
    display: grid;
    background: var(--bg);
    background-size: 35%;
    place-items: center;
    min-height: 100vh;
    
}
#loginForm {
    display: grid;
    justify-items: center;
    gap: 1em;
    background-color: var(--mainbg);
    width: auto;
    height: auto;
    padding: 5em;
    border-radius: 3px;
    box-shadow: var(--shadow);
    animation: right-slide 1s ease;
}

.login_logo{
    width: 20em;
}

.login_title{
    font-size: 5rem;
}

#userNotRegistered{
    color: red;
}

#incorrectPassword{
    color: red;
}

#Password{
    padding-right: 2em;
}
