:root{
    --fc: white;
    --fs: 20px;
    --bfs: 20px;
    --reg: 400;
    --mid: 500;
    --bold: 700;
    --bg: rgba(16, 17, 46, 0.75);
    --mainbg: rgba(255, 255, 255, 0.85);
    --bc: #48B0FA;
    --hc: #6ac1ff;
    --ab: #1f5074;
    --shadow: 0 4px 6px rgba(0, 0, 0, .4);
    --strength: rgba(255, 255, 255, 0.070);
    --subfc: #6c6c6c;
    --solidbg: white;
    --mainbutton: #e9e9e9;
    --subcolor: #d9d9d9;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.hidden{
    display: none;
}

.otheroption{
    justify-self: start;
    margin: 0 5em 1em;
}

.mainpage{
    background: var(--bg) url("imgs/mainbg.png") no-repeat center right fixed;
    background-size: 30%;
}
.nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 3fr 1fr 1fr;
    background-color: white;
    height: auto;
    text-align: center;
    gap: 2px;
    box-shadow: var(--shadow);
    z-index: 1000;
}

.nav_logo {
    height: 4vh;
    margin: 0.5em 0 0 0;
}

.nav_title {
    font-size: 1.1em;
    text-align: left;
    margin: 0;
    padding: 1em 0;
}

.nav_reglog {
    font-weight: var(--bold);
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 1em;
    background-color: var(--bc);
    box-shadow: var(--shadow);
}

.nav_reglog:hover {
    background-color: var(--hc);
}

.page{
    display: flex;
    height: auto;
    z-index: 1;
}

.content{
    position: static;
    width: 100%;
    height: 100%;
    background: var(--mainbg);
    box-shadow: var(--shadow);
    z-index: 1;
    clip-path: polygon(0 0, 60% 0, 80% 100%, 0% 100%);
}

.title{
    width: 50%;
    font-size: 10em;
    font-weight: var(--mid);
    margin: 0.5em 0 .2em 0.2em;
    text-shadow: var(--shadow);
}

.about{
    width: 60%;
    margin: 5em 0 5em 2em;
    text-shadow: var(--shadow);
}

.about_title{
    font-size: 3em;
    margin: 0.5em 0 .2em .6em;
}

.about_content {
    font-size: 2em;
    margin-left: 2em;
    padding-left: 0;
}

.authors {
    list-style-type: none;
    margin-bottom: 10px;
}

.register{
    display: grid;
    background: var(--bg);
    background-size: 35%;
    place-items: center;
    min-height: 100vh;
    
}

#title{
    font-size: 32px;
    font-weight: var(--reg);
    margin: 0;
    margin-bottom: 20px;
}

.form{
    display: grid;
    background-color: var(--mainbg);
    width: auto;
    height: auto;
    place-items: center;
    border-radius: 3px;
    box-shadow: var(--shadow);
}

.logo {
    margin: 1.5em 0 1em;
    width: 10em;
    text-align: center;
}

.inputbox{
    height: 1em;
    width: 15em;
    border-radius: 10px;
    border-color: var(--subfc);
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    font-size: var(--fs);
}
#email{
    margin-bottom: 1em;
}
#username{
    margin-bottom: 1em;
}
.userinfo{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    height: fit-content;
}
.pass{
    display: flex;
    margin: 0;
    padding: 0;
    height: fit-content;
}
.showhide{
    justify-self: center;
    border-style: none;
    background-color: transparent;
    width: auto;
    margin-left: -3em;
    padding-top: 0;
}
.show{
    width: 2em;
    margin: 0;
    padding: 0;
}

#password{
    margin-bottom: 0.3em;
}
#checker{
    margin:0 0 1em 0;
}
#confpass{
    margin-bottom: 0.3em;
}

.strength{
    font-size: 12px;
    list-style-type: none;
    justify-self: start;
    margin: 0 2em 0;
    color: var(--subfc);
}

#error{
    color: red;
}

.inputbox:focus{
    outline: none;
}

.reminder{
    color: var(--subfc);
    font-size: 12px;
    justify-self: start;
    margin: 0 2.5em 0;
}

.submit {
    color: var(--fc);
    font-size: 1em;
    font-weight: var(--bold);
    background-color: var(--bc);
    border-radius: 10em;
    border-style: none;
    height: 4em;
    width: 11em;
    text-align: center;
    justify-self: start;
    margin: 1em 4em 2em;
    box-shadow: var(--shadow);
}

.submit:hover{
    background-color: var(--hc);
}

.submit:active{
    background-color: #347db1;
}

.login {
    display: grid;
    background: var(--bg);
    background-size: 35%;
    place-items: center;
    min-height: 100vh;
    
}

.login_logo{
    margin: 1.5em 0 0 0;
    width: 20em;
    text-align: center;
}

.login_title{
    font-weight: var(--reg);
    font-size: 5em;
    margin: 0 4em;
}

#loginUsername{
    margin-bottom: 5px;
}

#loginPassword{
    margin-bottom: 5px;
}
#enter{
    justify-self: center;
    margin-top: 1em;
}
#forgot{
    justify-self: center;
    margin-bottom: 0.5em;
}
#regs{
    justify-self: center;
    margin-bottom: 2.5em;
}

.remember{
    justify-self: start;
    margin: 0 19em;
}

.stsa{
    display: flex;
    background: var(--bg) url("imgs/mainbg.png") no-repeat center right fixed;
    background-size: 30%;
}

.sidebar{
    display: grid;
    grid-template-rows: 0.1fr .3fr;
    position: sticky;
    top:0;
    min-width: 25vh;
    height: 100vh;
    background-color: var(--solidbg);
}

.picture{
    align-self: center;
    clip-path: circle();
    width: 20vh;
}

#dp{
    justify-self: center;
}
.menu {
    width: 30px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.info{
    justify-self: start;
    width: fit-content;
    margin: 0 1em 0.5em;
}

.supermain{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.subsect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}
.sections{
    background-color: var(--solidbg);
    border-radius: 3px;
    box-shadow: var(--shadow);
}
.sect{
    display: flex;
    padding: 10px;
}

.minsect{
    padding: 0.5em;
}

.minsect div{
    border-radius: 2px;
    height: 10em;
    overflow: auto;
}
.feature{
    width: 6em;
    font-weight: var(--reg);
    margin: 0.1em 10em 0 0.5em;
}

.add{
    font-size: var(--bfs);
    color: var(--solidbg);
    background-color: var(--bc);
    border-radius: 20em;
    border-width: 0;
}

.add:hover{
    background-color: var(--hc);
}

.add:active{
    background-color: var(--ab);
}

.rmv{
    color: var(--solidbg);
    font-size: var(--bfs);
    background-color: var(--bc);
    border-style: none;
    border-radius: 0 20em 20em 0;
    padding: 0.55em;
    margin-left: -0.2em;
}

.rmv:hover{
    background-color: var(--hc);
}

.rmv:active{
    background-color: var(--ab);
}

.date{
    font-size: var(--fs);
    margin-left: 0.5em;
    border-style: none;
}

.date:focus{
    outline: none;
}

.input{
    margin-left: 5px;
    font-size: var(--bfs);
    background-color: var(--bc);
    border-style: none;
    width: 15em;
    padding: 0.5em;
    border-radius: 0 20em 20em 0;
}

.input:hover{
    background-color: var(--hc)
}

.input:focus{
    outline: none;
}

.input::placeholder{
    color: var(--solidbg);
    opacity: 70%;
}

.subsect2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.announce{
    background-color: var(--solidbg);
    height: fit-content;
    border-radius: 3px;
    box-shadow: var(--shadow);
}

.messages{
    height: 85vh;
    overflow: auto;
}

.message{
    display: flex;
    justify-content: center;
    padding: 0.5em;
    height: auto;
}

#message{
    font-size: 18px;
    background-color: var(--subcolor);
    border-radius: 5px;
    border-style: none;
    padding: 0.5em;
    margin: 5px;
    width: 25em;
    resize: none;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
#message:focus{
    outline: none;
}